.message-failed{
    color: red;
}

.message-success{
    color: green;
}

.lunch-failed{
    border-color: red;
    border-style: ridge;
    border-width: medium;
}

.lunch-success{
    border-color: green;
    border-style: ridge;
    border-width: medium;
}
